<footer>
  <nav>
      <ul>
          <li>SẢN PHẨM</li>
          <li><a href="#">Giày Nam</a></li>
          <li><a href="#">Giày Nữ</a> </li>
          <li><a href="#">Giảm giá</a> </li>
      </ul>
      <ul>
          <li> VỀ CÔNG TY</li>
          <li><a href="#">Về UVDY</a> </li>
      </ul>
      <ul>
          <li>HỖ TRỢ </li>
          <li><a href="#"> Bảo mật thông tin</a></li>
          <li><a href="#">Chính sách chung</a> </li>
      </ul>
      <ul>
          <li> LIÊN HỆ</li>
          <li><a href="#">Email góp ý</a> </li>
          <li><a href="#">Hotline: 012345678</a> </li>
      </ul>
  </nav>
</footer>
